@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    display: grid;
    place-content: center;
    background: #23252C;
    min-height: 100vh;
}
div#root {
    width: 317px;
    font-family: "Inter", sans-serif;
    display: grid;
    grid-template-columns: 2.25em repeat(2,1fr) 2.25em;
    grid-template-areas: 
    "h h h h"
    ". m m ."
    ". m m ."
    "f f f f"
    ;
    background-color:#1A1B21;
    gap: 2em 0;
}

header {
    grid-area: h;
}

main {
    grid-area: m;
}

footer {
    grid-area: f;
}

/* typography*/
h1 {
    font-size: 1.56rem;
}

h2 {
    font-size: 1rem;
    color: #F5F5F5;;
}

a {
    text-decoration: none;
}

/* Header */
header {
    display: grid;
    grid-template-columns: subgrid;
    gap: .39em 0;
    color: white;
    text-align: center;
}
header > h1 {
    grid-column: 2 / 4;
    grid-row: 2/3;
    padding-top: .8em;
}

header > p {
    grid-column: 2 / 4;
    grid-row: 3/4;
    color: #F3BF99;
    font-size: .8rem;
}

header > span {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    color: #F5F5F5;
    display: block;
    padding-top: .15em;
    padding-bottom: .55em;
    font-size: .64rem;
}

.btn-left {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}
.btn-right {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
    margin-left: auto;
    background-color: #297FE5;
    color: white;
}

header a {
    width: 7rem;
    display: flex;
    align-items: center;
    gap: .5em;
    border-radius: .38rem;
    padding: .56em .81em;
    border: none;
    border-radius: 0.375rem;
    background: #FFF;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    color: #374151;
    font-size: .875rem;
}
header a:hover {
    text-decoration: underline;
}
/*Main*/
main {
    display: grid;
    gap: 1.7em;
}

section {
    color: #DCDCDC;
}

section > p {
    margin-top: 0.3em;
    font-size:  0.64rem;
    line-height: 1.5;
}

/*Footer*/

footer {
    height: 4rem;
    display: grid;
    place-content: center;
    border-radius: 0 0 0.625rem 0.625rem;
    background: #161619;
}

.social-icons {
    display: flex;
    gap: 1.5em;
}

footer a:hover {
    transform: scale(1.3);
}
